<!-- dashboard.component.html -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Library</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Opciones de menú -->
      </ul>

      <!-- Formulario de búsqueda -->
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterBooks()"
        />
        <button
          class="btn btn-outline-success"
          type="button"
          (click)="filterBooks()"
        >
          Search
        </button>
      </form>

      <!-- Nombre de usuario y opciones de usuario -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ userName }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/update-user">Actualizar Perfil</a>
            </li>
            <!-- Más opciones de menú si es necesario -->
          </ul>
        </li>
      </ul>

      <!-- Botón de Salir -->
      <button class="btn btn-outline-danger ms-2" (click)="logout()">
        Salir
      </button>
    </div>
  </div>
</nav>

<!-- Lista de libros filtrados -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" (click)="sortBooks('title')">Title</th>
      <th scope="col" (click)="sortBooks('author')">Author</th>
      <th scope="col" (click)="sortBooks('category')">Category</th>
      <th scope="col">Summary</th>
      <th scope="col">IMG</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of filteredBooks; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.category }}</td>
      <td>{{ book.summary }}</td>
      <td>
        <div class="img-container">
          <img [src]="book.img" alt="{{ book.title }}" class="book-img" />
        </div>
      </td>
      <td>
        <button class="btn btn-primary">Ver detalles</button>
      </td>
    </tr>
  </tbody>
</table>
